<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="public/css/stylesheet.css">
    <title>Flavor Direction</title>
</head>
<body>
    <header>
        <h1 class=" has-text-primary has-background-warning">Flavor Direction</h1>
        <h2> One Stop Shop for Everything Delicious!</h2>
    </header>
    {{#if logged_in}}
    <nav>   
        <a href="/">Home</a>      
        <a href="/recipe">Recipes</a>      
        <a href="/users">Users</a>
        <button class="btn" id="logout">Logout</button>
        </nav>
    {{else}}
     <nav>
        <a href="/login">Login</a>
    </nav>
    {{/if}}
    
    <main>
        {{{body}}}
    </main>
    
     {{#if loggedIn}}
        <script src="../../public/js/logout.js"></script>
     {{/if}}
</body>
</html>