<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>Flavor Direction</title>
</head>
<body>
    <header>
        <h1 class="is-size-1 has-text-warning has-text-weight-bold	">Flavor Direction</h1>
        <h2 class="is-size-2 has-text-warning is-italic"> One Stop Shop for Everything Delicious!</h2>
    </header>
    {{#if logged_in}}
    <nav class="tabs is-size-4">   
        <a href="/" class="box">Home</a>      
        <a href="/recipe" class="box">Recipes</a>      
        <a href="/users" class="box">Users</a>
        <a href="/users/createrecipe" class="box">Create Recipe </a>

        <button class="btn" id="logout">Logout</button>
        </nav>
    {{else}}
     <nav class="tabs">
        <a href="api/users/login" class="is-size-4">Login</a>
    </nav>
    {{/if}}
    
    <main>
        {{{body}}}
    </main>
    
     {{#if loggedIn}}
        <script src="../../public/js/logout.js"></script>
     {{/if}}
</body>
</html>