<form class="form createrecipe-form box">
   <div class="form-group">
    <label for="title-recipe">Title:</label>
    <input class="form-input" type="text" id="title-recipe" />
  </div>

  <div class="form-group">
    <label for="description-recipe">Description:</label>
    <input class="form-input" type="text" id="description-recipe" />
  </div>

  <div class="form-group">
    <label for="instructions-recipe">Instructions (Add periods to list instructions): </label>
    <input class="form-input" type="text" id="instructions-recipe" />
  </div>

  <div class="form-group">
    <label for="ingredients-recipe">Ingredients:</label>
    <input class="form-input" type="text" id="ingredients-recipe" />
  </div>

 <div class="form-group">
    <label for="foodType-recipe">Food Type:</label>
    <input class="form-input" type="text" id="foodType-recipe" />
  </div>

   <div class="form-group">
    <label for="hasnuts-recipe">Does it have nuts:</label>
    <input class="form-input" type="checkbox" id="hasnust-recipe" />
  </div>

   <div class="form-group">
    <label for="gluten-recipe">Is it gluten free?</label>
    <input class="form-input" type="checkbox" id="gluten-recipe" />
  </div>

  <div class="form-group">
    <label for="vegan-recipe">Is it Vegan friendly?</label>
    <input class="form-input" type="checkbox" id="vegan-recipe" />
  </div>

  <div class="form-group">
    <button class="btn btn-primary is-underlined" type="submit">Create Recipe!</button>
  </div>

  <script src="/js/createrecipe.js"></script>