    <nav class="tabs">
        <a href="api/users/login" class="is-size-4">Login</a>
    </nav>

<div><h1 class="has-text-warning">Welcome to Flavor Direction!</h1>
<p>Wanting new recipes? Needing some guidance to brave the kitchen? This is the 
    website for you! Create a free account and starting creating today. Explore our premade recipes 
    and add your own!</p>
</div>
    <p>Nothing quite beats delicious, so get started in that direction today!  </p>
<div class="navbar box has-text-centered">
    <a href="api/recipes" class=" is-size-4">Recipes!</a>    
    <a href="api/users/login" class="  is-size-4">Login Or Create Account!</a>
</div>
    