<h2 class="has-text-warning">Enter Login Information Below!</h2>

<form class="form login-form box">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary is-underlined" type="submit">Login</button>
  </div>
</form>

<script src="../public/js/login.js"></script>

{{!-- GET ROUTE --}}
{{!-- router.get('/login', (req, res) => {
  if (req.session.loggedIn) {
    res.redirect('/');
    return;
  }

  res.render('login');
}); --}}
