<nav class="tabs is-size-4">   
  <a href="/api/recipes" class="box">Recipes</a>      
  <a href="/api/users" class="box">Users</a>
  <a href="/api/recipes/createrecipe" class="box">Create Recipe </a>
</nav>
<h1 class="has-size-1">Recipes!</h1>
  {{#each recipeTotal as |recipe|}}
  <div class="content box maindisplay" id="recipe">
    <h5 class="has-text-warning">{{recipe.title}}</h5>
    <p>{{recipe.description}}</p>
    <p class="has-text-warning">Instructions</p>
    <ol type="I">
    {{#each recipe.instructions as |instructions|}}
    <li>{{instructions}}</li>
    {{/each}}
    </ol>
</div>
  {{/each}}