<h1>Recipes!</h1>
  {{#each recipeTotal as |recipe|}}
  <div class="content box maindisplay" id="recipe">
    <h5 class="has-text-warning">{{recipe.title}}</h5>
    <p>{{recipe.description}}</p>
    <p class="has-text-warning">Instructions</p>
    <ol type="I">
    {{#each recipe.instructions as |instructions|}}
    <li>{{instructions}}</li>
    {{/each}}
    </ol>
</div>
  {{/each}}