
<body>
    <section class="section">
        <div class="container">
            <h1 class="is-size-1 has-text-primary has-text-weight-bold">Users!</h1>
            <div class="content">
                {{#each userTotal as |user|}}
                    <a href="users/{{user.id}}" class="is-size-4 has-text-success">{{user.name}}</a>
                    <br>
                {{/each}}
            </div>
        </div>
    </section>
</body>
</html>
